<style type="text/css">

h1 {
  font-family: "Canela Deck";
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: black; }

h2 {
  font-family: "Canela Text";
  text-align: center;
  font-size: 11px;
  color: black; }

h3 {
  font-family: "Canela Text";
  font-weight: bold;
  font-size: 11px; }
  
</style>
